/* For container or parent */

.container{
    display: grid;
    grid-template-columns: 1fr 2fr; /*two columns with ratio 1:2 */
    grid-template-rows: 1fr 1fr; /*two rows with ratio 1:1 */
    gap: 10px;

    grid-template-columns: 100px auto; /*second column will shrink and grow to take full space*/

    grid-template-columns: 100px minmax(400px,800px); /*second column min width and max width*/

    grid-template-columns: repeat(2, 100px); /*Repeat 100px 2 times*/

    grid-auto-rows: 100px; /*Any row that is added afterwards, that is not initially defined*/


}

/* For Children */
.child{
    grid-column: span 2; /*will take two columns*/

    grid-column-start: 1; /*will start from very left line*/

    grid-column-end: 3; /*will end at third grid line, occupying column 1 and 2 */

    grid-column-end: -1; /*will end at the very right line */

    order: 1; /*default order is 0, higest order goes much further right*/

    grid-area: 2 / 1 / 3 / 3; /*grid-row-start / grid-column-start / grid-row-end / grid-column-end */
}

/* By defult grid container will try to take all available width and required height */

